.card-container {
  margin: 5px 0;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 25px;
  width: 90%;
  border-radius: 4px;
  text-align: center;
  cursor: grab;
  padding: 10px 0;
}

.card-text {
  cursor: text;
}
